.form {
    max-width: 25rem;
    width: 100%;
    margin: 2rem 1rem;

    &__item {
        &-antPicker {
            width: 100%;
        }
    }

    label {
        color: rgba(232, 230, 227, 0.85);
    }

    button {
        width: 100%;
    }
}
